.sergsxmui-tabs-navbar-buttons {
    margin: 20px 0;
}

.sergsxmui-tabs-navbar-buttons .btn {
    width: 100%;
    margin: 5px 0;
}

.form-error-text {
    color: #f00;
    font-style: italic;
}

.pagination.sergsxmui-tab-pagination {
    margin-top: 0px;
}

.sergsxmui-list-error {
    color: #f00;
    font-style: italic;
    margin: 0;    
}

.sergsxmui-form-thumbnail {
    height: 150px;
    width: 190px;    
}