.sergsxmui-tabs-navbar-buttons {
    margin: 20px 0;
}

.sergsxmui-tabs-navbar-buttons .btn {
    width: 100%;
    margin: 5px 0;
}

.form-error-text {
    color: #f00;
    font-style: italic;
}

.pagination.sergsxmui-tab-pagination {
    margin-top: 0px;
}

.sergsxmui-list-error {
    color: #f00;
    font-style: italic;
    margin: 0;    
}

.sergsxmui-form-thumbnail {
    height: 150px;
    width: 190px;
    float: left;
    margin-right: 5px;
    position: relative;
}

.sergsxmui-form-thumbnail .close{
    float: none;
    position: absolute;
    right: 9px;
    text-shadow: 1px 1px 2px #fff, -1px 1px 2px #fff, 1px -1px 2px #fff, -1px -1px 2px #fff;
    top: 3px;
    opacity: 1;
    color: #555;
}

.sergsxmui-label {
    background: #777;
    line-height: 2.3em;
}

.sergsxmui-label a {
    color: #aaa;
    position: relative;
    top: 0.1em;    
    text-decoration: none;
}

.sergsxmui-label a:hover {
    color: #fff;
    text-decoration: none;
}

.sergsxmui-lock-btn {
    border: none;
    background: transparent;
    color: #ccc;
    display: inline;
}

.sergsxmui-lock-btn.active {
    color: #333;
}
